PORT=3333
POSTGRES_DB_DEV=recorderpod
POSTGRES_USER_DEV=your_postgres_user
POSTGRES_PASSWORD_DEV=your_postgres_pwd
POSTGRES_PORT=5432
MYDATA=C:/your_absolute_path/to/podrecorder/backend/docker-data/db-data
MY_SECRET=mysecret
